<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i> Content Register
		</h3>

		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3" id="c_add_btn">
				<div class="well">
					<div class="form-group">
						<h5>EDITOR</h5>
						<select class="selectpicker" name="c_doc_editor">
							<optgroup label="Text Editor" id="textEditor_c">

							</optgroup>

							<optgroup label="MindMap" id="mindMap_c">

							</optgroup>

							<optgroup label="Questionnaire" id="questionnaire_c">

							</optgroup>

							<optgroup label="Else" id="elseEditor_c">

							</optgroup>
						</select>
					</div>

					<div class="form-group">
						<h5>DESCRIPTION</h5>
						<input type="text" class="form-control input-lg" id="content_body"
							name="content_body" placeholder="Description"> <br>
					</div>
					<br>

				</div>

				<br>
				
			</div>
		</div>
	</section>
</section>