<section id="main-content">
	<section class="wrapper">
		<!-- BASIC FORM ELELEMNTS -->
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3">
				<h3>
					<i class="fa fa-angle-right"></i> EDITOR
				</h3>
				<div class="well">
					<h5>EDITOR NAME</h5>
					<div class="input-group text-center">
						<input type="text" class="form-control input-lg" id="memberId"
							placeholder="Enter your editor name"> <span
							class="input-group-btn">
							<button class="btn btn-lg btn-primary" type="button"
								onclick="duplicationCheck()">CHECK</button>
						</span>
					</div>
					<br>
					<div class="form-group">
						<h5>DESCRIPTION</h5>
						<input type="text" class="form-control input-lg" id="memberPw"
							name="memberPw" placeholder="Description"> <br>
					</div>

					<div class="form-group">
						<h5>FILE</h5>
						<input type="file" class="form-control input-lg" id="memberName"
							name="memberName" placeholder="File"> <br>
					</div>

					<div class="form-group">
						<h5>EDITOR TYPE</h5>
						<button type="button" class="btn btn-danger">TEXT</button>
						<button type="button" class="btn btn-success">IMAGE</button>
						<button type="button" class="btn btn-info">MOVIE</button>
						<button type="button" class="btn btn-warning">ETC</button>
					</div>
				</div>
				<br>
					<button type="button" class="btn btn-theme">REGISTER</button>
					<button type="button" class="btn btn-theme">CANCEL</button>
			</div>
		</div>
		<!-- /row -->

	</section>
</section>