<section id="main-content">
	<section class="wrapper">
		<!-- BASIC FORM ELELEMNTS -->
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3">
				<h3>
					<i class="fa fa-angle-right"></i> DOCUMENT
				</h3>
				<div class="well">
					<div class="form-group">
						<h5>DOCUMENT TITLE</h5>
						<input type="text" class="form-control input-lg" id="memberName"
							name="memberName" placeholder="TITLE"> <br>
					</div>
					<div class="form-group">
						<h5>COLLABORATION</h5>
						<div class="switch switch-square"
							data-on-label="<i class=' fa fa-check'></i>"
							data-off-label="<i class='fa fa-times'></i>">
							<input type="checkbox"/>
						</div>
					</div>
				</div>
				<br>
					<button type="button" class="btn btn-theme">REGISTER</button>
					<button type="button" class="btn btn-theme">CANCEL</button>
			</div>
		</div>
		<!-- /row -->

	</section>
</section>
<!-- /MAIN CONTENT -->

<!--main content end-->
<!--footer start-->
<footer class="site-footer">
	<div class="text-center">
		2014 - DOCKING <a href="form_component.html#" class="go-top"> <i
			class="fa fa-angle-up"></i>
		</a>
	</div>
</footer>
<!--footer end-->