<section id="main-content">
	<section class="wrapper">
		<!-- BASIC FORM ELELEMNTS -->
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3">
				<h3>
					<i class="fa fa-angle-right"></i> DOCUMENT
				</h3>

				<div class="well">
					<div class="form-group">
						<h5>DOCUMENT TITLE</h5>
						<input type="text" class="form-control input-lg" id="title"
							name="title" placeholder="TITLE"> <br>
					</div>
				</div>

				<br>

				<button type="button" class="btn btn-theme" onclick="documentAdd()">REGISTER</button>
				<button type="button" class="btn btn-theme" onclick="getJoinedDocumentList()">CANCEL</button>
			</div>
		</div>
	</section>
</section>