<div class="container pt">
			<div class="row mt">
				<div class="col-lg-6 col-lg-offset-3 centered">
					<h3>MY DOCUMENT</h3>
					<hr>
					<p>Menu related to the document</p>
				</div>
			</div>
			<div class="row mt centered">
				<div class="col-lg-4">
					<a class="zoom green" onclick='getCont("document_registe");'>
					<img class="img-responsive" src="./img/doc_register.png"
							alt="" /></a>
					<H3>REGISTER</H3>
				</div>
				<div class="col-lg-4">
					<a class="zoom green" onclick='getCont("document_list");'>
					<img class="img-responsive" src="./img/doc_write.png" alt="" /></a>
					<H3>WRITE</H3>
				</div>
				<div class="col-lg-4">
					<a class="zoom green" onclick='getCont("document_manage");'>
					<img class="img-responsive" src="./img/doc_manage.png" alt="" /></a>
					<H3>MANAGE</H3>
				</div>
			</div>
		</div>