<style>
table {
   border-collapse: separate;
   border-spacing: 0 5px;
}

thead th {
   background-color: #24A6BD;
   color: white;
}

tbody td {
   background-color: #EEEEEE;
}

tr td:first-child,tr th:first-child {
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}

tr td:last-child,tr th:last-child {
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
}
</style>
<div class="row mt">
   <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>Manage Your Document!</h3>
      <hr>
      <p>Modify Your Document</p>
   </div>
</div>
<div class="row mt">
   <div class="col-lg-6 col-lg-offset-3">
      <table class="table">
         <thead class="">
            <tr>
               <th>EDITOR</th>
               <th>TITLE</th>
               <th>DATE</th>
               <th>MANAGE</th>
            </tr>
         </thead>
         <tbody id="documentListTbody">

         </tbody>
      </table>
   </div>
</div>