<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i> To-Do Lists
		</h3>

		<div class="row mt">
			<div class="col-md-12">
				<div class="white-panel pn">
					<div class="panel-heading">
						<div class="pull-left">
							<h5>
								<i class="fa fa-tasks"></i> Contents List
							</h5>
						</div>
						<br>
					</div>
					<div class="custom-check goleft mt">
						<table id="todo" class="table table-hover custom-check">
							<tbody id="editor_info">
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt">
			<div class="col-md-12">
				<section class="task-panel tasks-widget">
					<div class="panel-heading">
						<div class="pull-left">
							<h5>
								<i class="fa fa-tasks"></i> Member List
							</h5>
						</div>
						<br>
					</div>
					<div class="panel-body">
						<div class="task-content">
						
							<ul class="task-list" id="member_info">
								
							</ul>
							
						</div>
						
						<br><br>

						<div class=" add-task-row">
							<a class="btn btn-success btn-sm pull-left"
								onclick="getJoinedDocumentList()">CANCLE</a>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
</section>
