<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i> EditorCode
		</h3>

		<div id="content">

			<ul id="tree_menu">
				<li><a href="#">소녀시대</a>
					<ul>
						<li><a href="#"><img src="assets/img/file.png" />태연</a>
							<ul>
								<li><a href="#">리더</a>
									<ul>
										<li><a href="#">가</a>
											<ul>
												<li><a href="#">나</a>
													<ul>
														<li><a href="#">다</a>
															<ul>
																<li><a href="http://www.naver.com">라</a></li>
															</ul></li>
													</ul></li>
											</ul></li>
									</ul></li>
								<li><a href="#">보컬</a></li>
							</ul></li>
						<li><a href="#">유리</a>
							<ul>
								<li><a href="#">제일좋아</a></li>
							</ul></li>
						<li><a href="#">수영</a></li>
						<li><a href="#">제시카</a>
							<ul>
								<li><a href="#">미국</a></li>
								<li><a href="#">크리스탈</a>
									<ul>
										<li><a href="#">에프엑스</a>
											<ul>
												<li><a href="#">빅토리아</a></li>
												<li><a href="#">설리</a></li>
												<li><a href="#">루나</a></li>
												<li><a href="#">엠버</a></li>
											</ul></li>
									</ul></li>
							</ul></li>
						<li><a href="#">티파니</a></li>
						<li><a href="#">써니</a></li>
						<li><a href="#">서현</a></li>
					</ul></li>
				<li><a href="#">원더걸스</a>
					<ul>
						<li><a href="#">소희</a></li>
						<li><a href="#">선예</a>
							<ul>
								<li><a href="#">리더</a></li>
								<li><a href="#">메인보컬</a></li>
								<li><a href="#">아이스크림</a></li>
								<li><a href="#">떡볶이</a></li>
							</ul></li>
						<li><a href="#">예은</a>
							<ul>
								<li><a href="#">음악감상</a></li>
								<li><a href="#">독서</a></li>
								<li><a href="#">성경책 읽기</a></li>
							</ul></li>
						<li><a href="#">유빈</a></li>
						<li><a href="#">혜림</a></li>
					</ul></li>
				<li><a href="#">2NE1</a>
					<ul>
						<li><a href="#">박봄</a></li>
						<li><a href="#">산다라박</a></li>
						<li><a href="#">씨엘</a></li>
					</ul></li>
			</ul>
			<hr />
			<button id="all">ALL OPEN</button>
		</div>
		<div id="content2">

			<article>
				<h2 id="codeName">sample.java</h2>
				<form>
					<textarea id="code" name="code">
					</textarea>
				</form>

			</article>

		</div>
	</section>
</section>