<section id="main-content">
	<section class="wrapper">
		<h3 id="codeList_title">
			
		</h3>

		<div id="content">
<!-- <script type="text/javascript">
load_tree();
</script> -->
<input hidden="hidden" id="full_path"/>
		<ul id="tree_menu">
			
			
			
		</ul>
		<hr />
		<button id="css_use">CSS (X)</button>
		<button id="all">ALL OPEN</button>
		<button onclick="getCode();">SAVE</button>
		<hr/>
<button onclick="createPopUp('add_new_document');">NewFile</button>
<button onclick="deleteCode()">DELETE</button>

   </div>
		<div id="content2">

			<article>
				<h2 id="codeName">sample.java</h2>
				<form>
					<textarea id="code" name="code">
					</textarea>
				</form>

			</article>

		</div>
	</section>
</section>