<div class="container pt">
	<div class="row mt">
		<div class="col-lg-6 col-lg-offset-3 centered">
			<h3>MY EDITOR</h3>
			<hr>
			<p>Menu related to the developer</p>
		</div>
	</div>
	<div class="row mt centered">
		<div class="col-lg-4">
			<a onclick='getContJs("editor_register", "editor");'><img
				class="img-responsive" src="./img/editor_register.png" alt="" /></a>
			<H3>REGISTER</H3>
		</div>
		<div class="col-lg-4">
			<a onclick='getCont("editor_manage");'><img
				class="img-responsive" src="./img/editor_manage.png" alt="" /></a>
			<H3>MANAGE</H3>
		</div>
		<div class="col-lg-4">
					<a onclick='getCont("editor_review");'><img
				class="img-responsive" src="./img/editor_chart.png" alt="" /></a>
			<H3>REVIEW</H3>
		</div>
	</div>
</div>