<section id="main-content">
	<section class="wrapper">
		<!-- SORTABLE TO DO LIST -->

		<div class="row mt mb">
			<div class="col-md-12">
				<section class="task-panel tasks-widget">
					<div class="panel-heading">
						<div class="pull-left" id="content_title">
							
						</div>
						<br>
					</div>
					<div class="panel-body">
						<div class="task-content">
							<table class="table table-striped table-advance table-hover">
						<thead>
							<tr>
								<th><i class="fa fa-bullhorn"></i> NAME</th>
								<th class="hidden-phone"><i class="fa fa-question-circle"></i>
									DESCRIPTION</th>
								<th><i class="fa fa-bookmark"></i> MANAGE</th>
							</tr>
						</thead>
						<tbody id="content_list">
						
						</tbody>
					</table>
						</div>
						<div class=" add-task-row" id="content_add_button">
		
						</div>
					</div>
				</section>
			</div>
			<!--/col-md-12 -->
		</div>
		<!-- /row -->
	</section>
</section>