<section id="main-content">
	<section class="wrapper">
		<!-- SORTABLE TO DO LIST -->

		<div class="row mt mb">
			<div class="col-md-12">
				<section class="task-panel tasks-widget">
					<div class="panel-heading">
						<div class="pull-left">
							<h5>
								<i class="fa fa-tasks"></i> DOCUMENT
							</h5>
						</div>
						<br>
					</div>
					<div class="panel-body">
						<div class="task-content">
							<table class="table table-striped table-advance table-hover">
								<thead>
									<tr>
										<th><i class="fa fa-bullhorn"></i> DATE</th>
										<th class="hidden-phone"><i class="fa fa-question-circle"></i>
											TITLE</th>
										<th><i class="fa fa-bookmark"></i> ADMIN</th>
										<th><i class="fa fa-bookmark"></i> MANAGE</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>2014-08-11. 23:02</a></td>
										<td><a href="http://www.naver.com#">MindMap Start</td>
										<td>lih8989@naver.com</td>
										<td>
											<button class="btn btn-success btn-xs">
												<i class="fa fa-check"></i>
											</button>
											<button class="btn btn-primary btn-xs">
												<i class="fa fa-pencil"></i>
											</button>
											<button class="btn btn-danger btn-xs">
												<i class="fa fa-trash-o "></i>
											</button>
										</td>
									</tr>
									<tr>
										<td>2014-08-11. 23:02</a></td>
										<td><a href="http://www.naver.com#">MindMap Start</td>
										<td>lih8989@naver.com</td>
										<td>
											<button class="btn btn-success btn-xs">
												<i class="fa fa-check"></i>
											</button>
											<button class="btn btn-primary btn-xs">
												<i class="fa fa-pencil"></i>
											</button>
											<button class="btn btn-danger btn-xs">
												<i class="fa fa-trash-o "></i>
											</button>
										</td>
									</tr>
									<tr>
										<td>2014-08-11. 23:02</a></td>
										<td><a href="http://www.naver.com#">MindMap Start</td>
										<td>lih8989@naver.com</td>
										<td>
											<button class="btn btn-success btn-xs">
												<i class="fa fa-check"></i>
											</button>
											<button class="btn btn-primary btn-xs">
												<i class="fa fa-pencil"></i>
											</button>
											<button class="btn btn-danger btn-xs">
												<i class="fa fa-trash-o "></i>
											</button>
										</td>
									</tr>
									<tr>
										<td>2014-08-11. 23:02</a></td>
										<td><a href="http://www.naver.com#">MindMap Start</td>
										<td>lih8989@naver.com</td>
										<td>
											<button class="btn btn-success btn-xs">
												<i class="fa fa-check"></i>
											</button>
											<button class="btn btn-primary btn-xs">
												<i class="fa fa-pencil"></i>
											</button>
											<button class="btn btn-danger btn-xs">
												<i class="fa fa-trash-o "></i>
											</button>
										</td>
									</tr>
									<tr>
										<td>2014-08-11. 23:02</a></td>
										<td><a href="http://www.naver.com#">MindMap Start</td>
										<td>lih8989@naver.com</td>
										<td>
											<button class="btn btn-success btn-xs">
												<i class="fa fa-check"></i>
											</button>
											<button class="btn btn-primary btn-xs">
												<i class="fa fa-pencil"></i>
											</button>
											<button class="btn btn-danger btn-xs">
												<i class="fa fa-trash-o "></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class=" add-task-row">
							<a class="btn btn-success btn-sm pull-left"
								onclick='getContJs("add_document","document")'>Add Document</a>
						</div>
					</div>
				</section>
			</div>
			<!--/col-md-12 -->
		</div>
		<!-- /row -->
	</section>
</section>