<div id="loginPage">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-md-offset-4">
					<h1 class="text-center login-title">Sign in to continue to
						Docking</h1>
					<div class="account-wall">
						<img class="profile-img"
							src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
							alt="">
						<form class="form-signin">

							<input type="text" id="memberId" class="form-control"
								placeholder="Email" required autofocus> <input
								type="password" id="memberPw" class="form-control"
								placeholder="Password" required>
							<button class="btn btn-lg btn-primary btn-block"
								id="login_button" type="button" onclick="memberLogin()">Sign in</button>
								
						</form>
					</div>
					<a onclick='getContJs("user_regist","user");' class="text-center new-account"> Create an account </a>
				</div>
			</div>
		</div>
	</div>