<div id="login-page">
	<div class="container">
		<div class="form-login">
			<h2 class="form-login-heading">Login in now</h2>
			<div class="login-wrap">
				<input type="text" class="form-control" placeholder="User ID" id="memberId" autofocus> 
				
				<br> 
				
				<input type="password" class="form-control" placeholder="Password" id="memberPw">
				
				<label class="checkbox"> 
				<span class="pull-right"> 
				<a data-toggle="modal" href="http://www.naver.com"> Forgot Password?</a>
				</span>
				</label>
				
				<button class="btn btn-theme btn-block" onclick="memberLogin()">
					<i class="fa fa-lock"></i> LOGIN
				</button>
				
				<hr>

				<div class="registration">
					Don't have an account yet?<br/> <a class=""
						onclick='getContJs("add_member","member")'> Create an account
					</a>
				</div>
			</div>
		</div>
	</div>
</div>