<section class="wrapper">
	<div class="centered" style="width: 95%; padding: 8.5%">
		<img src="./assets/img/docking.png" alt="DOCKING">
		<h1>Docking</h1>
		<p>Real-time working environment</p>
		<a onclick='getContJs("login","member")'><button type="submit"
				class="btn btn-warning btn-lg">Start !</button></a>
	</div>
	<div class="col-lg-10 col-lg-offset-2 centered">
		<div class="row">
			<div class="main-chart">
				<div class="row mtbox">
					<div class="col-md-3 col-sm-4 box0">
						<div class="box1">
							<span class="li_user"></span>
						</div>
						<p>Collaborate with other users in real-time support.</p>
					</div>
					<div class="col-md-3 col-sm-4 box0">
						<div class="box1">
							<span class="li_cloud"></span>
						</div>
						<p>All documents & editor provided as a cloud service.</p>
					</div>
					<div class="col-md-3 col-sm-4 box0">
						<div class="box1">
							<span class="li_data"></span>
						</div>
						<p>The user can manually add the desired editor.</p>
					</div>
				</div>
				<!-- /row mt -->
			</div>
		</div>
	</div>
	<!-- /col-lg-9 END SECTION MIDDLE -->
</section>