<!--header end-->
<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
	<div id="sidebar" class="nav-collapse ">
		<!-- sidebar menu start-->
		<ul class="sidebar-menu" id="nav-accordion">
			<li class="sub-menu"><a onclick="getCont('main');"> <i
					class="fa fa-home"></i> <span>HOME</span>
			</a>
			<li class="sub-menu"><a
				onclick='getContJs("list_document","document");'> <i
					class="fa fa-book"></i> <span>DOCUMENT</span>
			</a>
			<li c lass="sub-menu"><a onclick='getCont("list_review");'>
					<i class="fa fa-th"></i> <span>REVIEW</span>
			</a>
			<li class="sub-menu"><a onclick='getCont("list_editor")'> <i
					class="fa fa-desktop"></i> <span>FOR DEVELOPER</span>
			</a>
		</ul>
		<!-- sidebar menu end-->
	</div>
</aside>