<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i>Modify Your Editor
		</h3>

		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2" id="modify_editor_button">
					<div class="form-group" id="modify_editorId_div">
						
					</div>

					<div class="form-group" id="modify_description_div">
						
					</div>

					<div class="form-group" id="modify_startPage_div">
						
					</div>

					<div class="form-group" id="modify_shareMode_div">
						<h5>Share Mode</h5>

					</div>

					<div id="shareMode_div" style="display: none">
						<div class="form-group" id="modify_setMethod_div">
							
						</div>

						<div class="form-group" id="modify_getMethod_div">
							
						</div>
					</div>

					<div class="form-group" id="modify_editorType_div">
						<h5>EDITOR TYPE</h5>
						<button type="button" class="btn btn-danger" onclick="selectTextEditor()">TextEditor</button>
						<button type="button" class="btn btn-success" onclick="selectMindMap()">MindMap</button>
						<button type="button" class="btn btn-info" onclick="selectQuestionnaire()">Questionnaire</button>
						<button type="button" class="btn btn-warning" onclick="selectElse()">Else</button>
					</div>
			</div>
		</div>
	</section>
</section>