<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i> Review Modify!
		</h3>

		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="form-group" id="reviewId_div"></div>

				<div class="form-group" id="editorId_div"></div>

				<div class="form-group" id="memberId_div"></div>

				<div class="form-group" id="body_div"></div>

				<div class="form-group" id="score_div"></div>

				<br>

				<button type="button" class="btn btn-success" id="modify_button"
					onclick="reviewModify()">Modify</button>
				<button type="button" class="btn btn-success"
					onclick="modifyCancle()">Cancel</button>
			</div>
		</div>
	</section>
</section>