<div class="container pt">
	<div class="row mt">
		<div class="col-lg-6 col-lg-offset-3 centered">
			<h3>Register Docking!</h3>
			<hr>
			<p>Input Your Information</p>
		</div>
	</div>
	<div class="row mt">
		<div class="col-lg-6 col-lg-offset-3">
			<form role="form">
				<div class="well">
					<form class="form">
						<h5>EMAIL</h5>
						<div class="input-group text-center">
							<input type="text" class="form-control input-lg" id="memberId"
								placeholder="Enter your email address"> <span
								class="input-group-btn">
								<button class="btn btn-lg btn-primary" type="button"
									onclick="duplicationCheck()">CHECK</button>
							</span>
						</div>
					</form>
					<br>
					<div class="form-group">
						<h5>PASSWORD</h5>
						<input type="text" class="form-control input-lg" id="memberPw"
							name="memberPw" placeholder="Password"> <br>
					</div>

					<div class="form-group">
						<h5>NICKNAME</h5>
						<input type="text" class="form-control input-lg"
							id="memberName" name="memberName"
							placeholder="NickName"> <br>
					</div>

					<div class="form-group">
						<h5>USER TYPE</h5>
						<br> <input type="radio" name="memberType" value="0" checked>
						User &nbsp; &nbsp; <input type="radio" name="memberType" value="1">
						Developer &nbsp; &nbsp; <br>
					</div>
				</div>
				
				<br>
				
				<button type="button" class="btn btn-success"
					onclick="memberAdd()">Register</button>
			</form>
		</div>
	</div>
	<!-- /row -->
</div>